cmake-build-debug/
cmake-build-release/

.idea/
bin/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
.vscode/
Kepler
Kepler.cbp
Kepler.db
Kepler.db-shm
Kepler.db-wal
*.html
v13/
v18/
v21/
vgcore.*
config.ini
