.inertia.toml
.secrets
.kepler-secrets
.gradle/
.idea/
/out/
**.iml
/gradle/
/build/
/bin/
/cmake-build-debug/
.idea/workspace.xml
/*.jar

gradlew
gradlew.bat
run.bat

/tools/db/schema.sql

config.ini
locale.ini
game.ini
server.ini
log4j.properties

Kepler-Server-all.jar

server.log
error.log
.env
