.gradle/
.idea/
/out/
**.iml
/gradle/
/build/
bin/
tmp/
session-cookies/

gradlew
gradlew.bat
run.bat

habbohotel.properties
game.properties
icarus.properties
locale.ini
log4j.properties
error.log
site-config.ini
Icarus-Web-all.jar

tools/www/c_images
tools/www/dcr
tools/www/web-gallery
tools/www/gamedata
tools/www/gordon