.button{
	background: url(../images/button.png) 0px 0px repeat-x;
	
	border: 2px solid black;
	
	height: 25px;
	line-height: 21px;
	width: auto;
	
	padding-left: 19px;
	padding-right: 19px;
	
	text-align: center;
	color: black;
	font-weight: bold;
	font-size: 12px;
}
	.button:hover{
		background: url(../images/button.png) 0px -21px repeat-x;
		cursor: pointer;
	}
	.pos-right{
		float: right;
	}
	.cancel{
		float: left;
		
		color: #FF6000;
		font-size: 11px;
	}
		.cancel span{
			line-height: 45px;			
		}