body{
	margin: 0px;
	padding: 0px;
	
	background-color: #BCE0EE;
	
	font-family: Verdana, Arial, Helvetica, Sans-serif;
	text-align: center;
}

input, .input{
	border: 1px solid #000000;
	
	background-color: #FFFFFF;
	
	width: 165px;
	height: 17px;
	line-height: 17px;
	
	margin-top: 3px;
}

.clear{
	clear: both;
}

	.round{
		-moz-border-radius: 4px;
		border-radius: 4px;
	}
	
	.page{
		text-align: left;
		font-weight: bold;
	}
	#community .page{
		background-color: #AFAFAF !important;
	}
	
	.green{
		background-color: #5FAD57 !important;
	}
	.orange{
		background-color: #f2803C !important;
	}
	.red{
		background-color: #CC0000 !important;
	}
	
	.message{
		padding: 5px;
		margin-bottom: 10px;
		font-size: 11px;
		color: white;
		font-weight: bold;
	}
		.message p{
			font-weight: normal;
			margin-left: 5px !important;
		}
	
	.content{
		position: relative;
		
		margin-top: 7px !important;
		padding: 15px;
		
		width: 348px;
		height: auto;
		
		text-align: left !important;
		
		border: 1px solid #96B3BE;
		border-bottom: 2px solid #96B3BE;
		
		background-color: #FFFFFF;
	}
	
	.head{
		margin-bottom: 18px;
	}
	
	.head .online{
		position: absolute;
		top: 25px;
		right: 15px;
		
		color: #FF6000;
		font-size: 11px;
	}
		.head .online b{
			color: #000000;
		}
		
	.content .left, .content .right{
		float: left;
		
		background-color: #999999;
		
		padding: 10px;
		margin-bottom: 5px;
		
		width: 95%;
		
		color: white;
		font-size: 12px;
	}	
	.page .left, .message p, h3{
		padding: 0px;
		margin: 0px;
	}
	.content .right{
		margin-left: 10px;
	}
		.page p{
			padding: 5px;
			margin: 2px;
			
			margin-left: 0px !important;
			padding-left: 0px !important;
		}
		#community .page p{
			font-weight: normal;
		}
	
	.center{
		text-align: center;
		margin: auto;
	}
	
	.bottom{
		margin-top: 12px;
		width: 100%;
		vertical-align: bottom;
	}
	
	.copyright{
		margin-top: 3px;
		
		font-size: 10px;
		color: #494949;
		text-align: center;
	}