.content .login, .content .register{
	font-weight: bold;
}
.login p input{
	width: 145px;
}
.content .register{		
	text-align: center;
}
.content .small{
	width: 149px;
}
.content .register .small{
	width: 139px;
}
.content .login .title{
	margin-top: 0px; 
	padding-top: 0px;
	 
	font-size: 12px;
}
.content .register p, .content .login p{
	padding: 5px;
	margin: 2px;
}
.content .login p{
	margin-left: 0px !important;
	padding-left: 0px !important;
	
	font-size: 11px;
}
.content .register a{
	color: white;
	font-size: 12px;
}