.user_info{
	position: relative;
	
	background: url(../images/htlview_us.png) top center no-repeat;
	background-color: #7B7B71;
	
	width: 100%;
	height: 205px;
	
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}
	.user_info .enterhotel{
		position: absolute;
		top: 13px;
		right: 10px;
		
		min-width: 75px !important;
		height: 109px;
		
		background: url(../images/orange_thing.png) top center no-repeat;
	}
		.user_info .enterhotel .ehbutton, .user_info .enterhotel b{
			float: left;
			
			margin-top: 28px;
			
			background: url(../images/enter_button.png) -9px 0px no-repeat;
			
			height: 49px;
		}
		.user_info .enterhotel .ehbutton{
			max-width: 300px;
			line-height: 46px;
			
			padding-right: 8px;
			padding-left: 17px;
		}
		.user_info .enterhotel b{	
			width: 9px;
						
			background: url(../images/enter_button.png) 0px 0px no-repeat;
		}
		.user_info .enterhotel a{
			background: url(../images/flashy_arrow.gif) center right no-repeat;
			
			padding-right: 22px;
			
			color: white;
			text-decoration: none;
			font-size: 13px;
		}
			.enterhotel:hover .ehbutton{
				background: url(../images/enter_button.png) -9px -49px no-repeat;
			}
			.enterhotel:hover b{
				background: url(../images/enter_button.png) 0px -49px no-repeat;
			}
			.enterhotel a:hover{
				text-decoration: underline;
			}

	.user_info .avatar{
		position: absolute;
		top: 46px;
		left: 9px;
		
		width: 94px;
		height: 137px;
		
		text-align: center;
		
		background: url(../images/info_plate.png) bottom center no-repeat;
	}
		.user_info .avatar:hover{
			background: url(../images/info_plate.png) 0px 74px no-repeat;
		}
		.user_info .motto{
			position: absolute;
			top: 148px;
			left: 112px;
			
			width: 225px;
			max-width: 225px;
			height: 24px;
			max-height: 24px;
			line-height: 24px;
			
			font-size: 10px;
			
			background: url(../images/motto_field.png) top center no-repeat;
		}
			.user_info #motto{
				float: left;
				
				width: auto;
				
				margin-left: 2px;
			}
				.user_info #mottoEdit{
					display: none;
					width: 98%;
					
					padding: 2px;
					
					text-align: center;
				}
				.user_info #mottoEditBox{
					width: 100%;
					height: 18px;
					line-height: 19px;
					
					border: none;
					
					padding: 0px;
					margin: 0px;
					
					font-size: 11px;
				}
			.user_info .motto span{
				font-weight: bold;
				font-size: 10px;
				
				padding-left: 3px;
				
				float: left;
			}
			
		.user_info .balance{
			position: absolute;
			top: 170px;
			left: 78px;
		}
		.user_info .balance p{
			font-size: 11px;
			
			float: left;
			
			margin-right: 40px;
		}
	
	.credits, .pixels{
		min-width: 20px;
		height: 20px;
		line-height: 22px;
		
		padding-left: 22px;
	}
	.credits{
		background: url(../images/icons.png) 0px 0px no-repeat;
	}
	.pixels{
		background: url(../images/icons.png) 0px -20px no-repeat;
	}