.menu{
	height: 24px;
	width: 100%;
	
	margin-bottom: 15px;
	
	border: 1px solid #96B3BE;
	border-bottom: 2px solid #96B3BE;
	
	background-color: #C5DBE2;
}
	.menu ul{		
		width: 100%;
		line-height: 20px;
		
		padding: 0px;
		margin: 0px;
		margin-left: 12px;
	}
		.menu li{
			float: left;
			
			list-style: none;
			
			padding-right: 10px;
		}
			.menu li a{
				font-size: 11px;
				color: white;
				text-decoration: none;
			}
			.menu li a:hover{
				font-weight: bold;
				text-decoration: underline;
			}
		.menu .signout{
			float: right;
			padding-right: 22px;
		}