.staff{
	position: relative;
	
	border: 1px solid #C4C4C4;
	border-bottom: 2px solid #C4C4C4;
}
	.staff h3{
		float: left;
	}
	.staff img{
		float: right;
	}
	.staff .avatarbox{
		position: relative;
		left: -10px;
		
		width: 340px;
		
		background-color: #FFFFFF;
	
		margin-top: 25px;
		padding: 5px;
	}
		.avatarbox img{
			float: left;
			
			margin-right: 15px;
		}
	.staff p{
		color: #000000;
	}